body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon_and_heading {
  display: flex;
  align-items: center; /* Vertically aligns items */
  justify-content: space-between; /* Distributes items horizontally */
}

.seller-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #ebf3fa;
  padding: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.sidebar h2 {
  font-weight: bold;
  color: #6e60f9;
  display: inline-block;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 70px;
  align-items: center;
}

.steps {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Make the list fit the full width of the sidebar */
  height: 100%;
}

.steps li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 16px;
  margin-top: 30%;
  font-size: x-large;
}

.steps li.active {
  color: #6e60f9;
  font-weight: bold;
}

.steps li .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.steps li.active .circle {
  background-color: #6e60f9;
}
.line {
  position: absolute;
  top: 120px;
  left: 10px; /* Align with the circles */
  width: 2px;
  height: 73%;
  background-color: #ccc;
  z-index: 0;
  margin-left: 16%;
}

.steps li.active ~ li .circle {
  background-color: #ccc;
}

.container {
  padding: 40px;
  font-family: 'Arial', sans-serif;
  text-align: left;
  overflow-y: auto;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 25px;
  margin-bottom: 20px;
}

.divider {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 40px;
}

.label {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  color: black;
}

.textarea {
  width: 623px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

.button-group {
  display: flex;
  margin-top: 20px;
}

.back-button {
  background-color: #fff;
  color: #6e6e6e;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* margin-top: 90%; */
}

.save-button {
  background-color: #6e60f9;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* margin-top: 90%; */
  margin-left: 20px;
}


.uploadimagecontainer{
    display: flex;
    align-items: center;
    gap: 50px;
}
.uploadimage {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #6666FF;
  border-radius: 15px;
  cursor: pointer;
  color: #6666FF;
  font-weight: 500;
}